:root {
    --alert: #ec5840;
    --alert-rgb: 236,88,64;
    --success: #57d685;
    --success-rgb: 87,214,133;
    --warning: #ffae00;
    --warning-rgb: 255,174,0;
    --highlight: #be6400;
    --highlight-rgb: 190,100,0;

    --primary: #2f7d92;
    --primary-rgb: 239,96,77;
    --secondary: #D20201;
    --secondary-rgb: 89,154,166;
    --highlight-alternative: #ff5731;
    --highlight-alternative-rgb: 255,87,49;
}


:root {
  --brand-blue: var(--primary);
  --brand-green: var(--primary);
  --brand-blue-active: #083A7D;
  --brand-blue-soft: #6788B3;
}
.title-bar,
.main-footer,
.mini-footer { background: #FFF; }

.logo-wrapper span {
  color: var(--primary);
}

a,
.link,
.title-bar a,
.topbar__dropmenu > ul > li > a,
.topbar__dropmenu .is-dropdown-submenu li a {
  color: var(--brand-blue);
}

.author-data .author__name {
  color: var(--brand-blue-soft);
}

.topbar__dropmenu > ul > li > a::after {
  border-top-color: var(--brand-blue);
}
.dropdown.menu > li.is-active > a {
  color: var(--brand-blue-active);
}
.card__link {
  color: var(--brand-green);
}

.button {
  background: var(--brand-green);
}

.button.tiny {
  color: #FFF;
}

.process-nav__more i, .process-nav__hidden-content__more i {
  background: #FFF;
}

.logo-cityhall {
  padding-right: 19px;
}


.topbar__search input {
  background:#EFEFEF;
  color: #999;
}

.topbar__search input::placeholder {
  color: #9c9a9a;
  opacity: 1;
}

.topbar__search:not(:focus-within) button {
  background: var(--primary);
}
