<nav class="main-nav">
  <ul>
    <li class="main-nav__link <%= request.path == decidim.root_path ? 'main-nav__link--active' : nil %>">
      <a href="/">Inicio</a>
    </li>

    <li class="main-nav__link  <%= request.path.include?('/processes/uso-responsable-de-datos') || request.path.include?('/proposals') ? 'main-nav__link--active' : nil %>">
      <a class="uned-poll-toggle-button">Consulta sobre ética y datos</a>
    </li>

    <li class="main-nav__link <%= request.path.include?(decidim.pages_path) ? 'main-nav__link--active' : nil %>">
      <a href="/pages">Ayuda</a>
    </li>
  </ul>
</nav>
