default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: localhost
  username: decidim-gava
  password:

development:
  <<: *default
  database: decidim-gava_development

test:
  <<: *default
  database: decidim-gava_test
