<div id="proposal-<%= proposal.id %>-vote-button">
  <%= action_authorized_button_to(
        :vote,
        t("decidim.proposals.proposals.vote_button.vote"),
        proposal_proposal_vote_path(proposal_id: proposal, from_proposals_list: false),
        resource: proposal,
        remote: true,
        data: {
          disable: true,
          "redirect-url": proposal_path(proposal)
        },
        class: "column button--sc uned-poll-slider-participa-button-right"
      ) %>
</div>
